<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" style="background-color:antiquewhite">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-item text-center">
                        <h3 class="widget-title mb-3">Nhóm WNC.G15</h3>
                        <p class="text-center">Thành viên:</p>
                        <ul class="list-unstyled">
                            <li>Trần Phú Hòa - 2110A01</li>
                            <li>Lương Thu Hoài - 2110A01</li>
                            <li>Nguyễn Minh Hòa - 2110A01</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" style="background-color:#f0ad4e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <span class="copyright-text text-white">&copy; 2024 - Nhóm WNC.G15</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
