<header class="main-header_area position-relative" style="background-color:antiquewhite">
    <div class="header-top border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="header-logo">
                       
                        <h1>Tên bảng: Product</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
